/* GLOBAL */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #222; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.25rem; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 0.875rem; }

h5 {
  font-size: 0.75rem; }

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto Slab", sans-serif; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

/* GRID */
.grid {
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .grid > .col {
        flex: 1; }
      .grid.grid-123 > .col {
        flex: 0 0 calc(50% - 1rem); } }
  @media (min-width: 1200px) {
    .grid.grid-123 > .col {
      flex: 0 0 calc(33.33% - 1rem); } }

/* HEADER */
.header {
  background-color: #a50354; }

.header-branding {
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center; }

.header-branding-text {
  color: white;
  font-weight: normal;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto Slab", sans-serif;
  color: #a7ce3b; }

.header-branding-logo {
  height: 2rem; }

.header-nav {
  display: flex;
  justify-content: space-around; }

.header-nav a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase; }

.header-nav a.active,
.header-nav a:hover {
  color: white; }

@media (min-width: 900px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-nav a {
    font-size: 1rem;
    padding-left: 3rem; } }

/* HERO */
.hero {
  background-color: #deedb6;
  text-align: center;
  margin-bottom: 2rem; }

.hero-image {
  padding: 2rem 4rem; }

@media (min-width: 600px) {
  .hero {
    background-image: url(http://experimental.tierheim-troisdorf.de/vanilla/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    text-align: right; }
  .hero-image {
    max-height: 30vh;
    max-width: 40vw;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem; } }

/* CARDS */
.card {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #f2f8e2;
  margin-bottom: 2rem;
  border: 1px solid #627a1f;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15); }

.card-image {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15); }

.card-title {
  color: #a50354; }

.card-tags {
  color: #627a1f; }

.card-tags a {
  color: #627a1f;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase; }

.card-tags {
  margin-bottom: 1rem; }

/* FOOTER */
.footer {
  background-color: #deedb6; }

.footer-info {
  padding: 1rem;
  text-align: center; }

.footer-info p {
  margin: 0;
  font-size: 0.875rem; }

.footer-info-title {
  border-bottom: 1px solid #a50354;
  color: #a50354;
  margin-bottom: 1rem;
  font-weight: 700; }

.footer-nav,
.footer-social-nav {
  display: flex;
  background-color: #a50354;
  justify-content: center; }

.footer-social-nav a {
  color: white;
  font-size: 1.25rem;
  display: inline-block;
  padding: 1rem 1rem 0; }

.footer-nav a {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 1rem 0.5rem 0;
  text-transform: uppercase; }

.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 1.5rem 0 0.5rem;
  font-size: 0.75rem;
  background-color: #a50354; }
