@import "custom-bootstrap";

// sm: Small devices (landscape phones, 576px and up)
// md: Medium devices (tablets, 768px and up)
// lg: Large devices (desktops, 992px and up)
// xl: Extra large devices (large desktops, 1200px and up)
// http://flexbox.malven.co/
// https://hackerthemes.com/bootstrap-cheatsheet/

/* VARIABLES */

$font-family-serif: "Roboto Slab", serif;

$secondary-dark: darken($secondary, 20%);

$white-muted: rgba($white, 0.7);

/* GLOBAL */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-serif;
}

/* HEADER */

.navbar-brand-logo {
    height: 2rem;
    margin-left: 0.5rem;
}

/* HERO */

.hero {
    background-color: lighten($secondary, 35%);
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 0.25rem solid $secondary-dark;
}

.hero-image {
    padding: 2rem;
    max-height: 60vh;
}

@include media-breakpoint-up(sm) {
    .hero {
        background-image: url(../img/background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 45vh;
        text-align: right;
        //border-bottom: none;
    }
    .hero-image {
        max-height: 35vh;
        max-width: 40vw;
        margin-top: 1rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
    }
}

body {
    background-color: lighten($secondary, 42.5%);
}

.footer-infos {
    background-color: lighten($secondary, 25%);
    border-top: 0.25rem solid $secondary-dark;
}

.social-links {
    list-style: none;
    li {
        display: inline-block;
        margin-left: 1.5em;
    }
    a {
        color: $white-muted;
        font-size: 1.25em;
    }
    a:hover {
        color: $white;
    }
}

.secondary-nav {
    list-style: none;
    margin-left: auto;
    li {
        display: inline-block;
        margin-left: 1.5em;
    }
    a {
        color: $white-muted;
        font-size: 0.8em;
    }
    a:hover {
        color: $white;
    }
}

