@import "custom-bootstrap";

// sm: Small devices (landscape phones, 576px and up)
// md: Medium devices (tablets, 768px and up)
// lg: Large devices (desktops, 992px and up)
// xl: Extra large devices (large desktops, 1200px and up)
// http://flexbox.malven.co/
// https://hackerthemes.com/bootstrap-cheatsheet/

/* VARIABLES */

/* HEADER */

.navbar-brand-logo {
    height: 2rem;
    margin-left: 0.5rem;
}

/* HERO */

.hero {
    background-color: lighten($secondary, 35%);
    text-align: center;
    margin-bottom: 2rem;
}

.hero-image {
    padding: 2rem;
    max-height: 60vh;
}

@include media-breakpoint-up(sm) {
    .hero {
        background-image: url(../img/background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 45vh;
        text-align: right;
    }
    .hero-image {
        max-height: 35vh;
        max-width: 40vw;
        margin-top: 1rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
    }
}

body {
    background-color: lighten($secondary, 42.5%);
}

footer {
    background-color: lighten($secondary, 20%);
}