{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Three Column Portfolio
                    <small>Showcase Your Work</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Three Column Portfolio</li>
                </ol>
            </div>

        </div>

        <div class="row">
            {% for post in category.posts.all %}
                <div class="col-md-4 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/700x400">
                    </a>
                    <h4><a href="#">{{ post.title }}</a></h4>
                    <p>{{ post.body|truncatewords:"25" }}</p>
                </div>
                {% if forloop.counter|divisibleby:"3" %}
          </div>
          <div class="row">
                {% endif %}
            {% endfor %}
          </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
{% endblock %}
